@import "../scss/settings/colors";
@import "../scss/settings/fonts";

.recipe-list_container {
  width: 79vw;
  height: 70vh;
  background-color: $background;
  margin: 3%;
  padding: 30px;
  border: 1px dashed $header;

  .recipe-list_header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.recipe-list_feature {
  font-family: $fontOpenSans;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .recipe-list_names {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  .recipe-list_action {
    padding-right: 20px;
  }
}

//--------------------

.recipe-list_items {
  display: flex;
  .recipe-list_id {
    display: block;
    width: 100px;
    padding: 10px;
  }

  .recipe-list_name {
    display: block;
    padding: 10px;
  }

  .recipe-list_id{

  }

  .recipe-list_description {
    display: block;
    padding: 10px;
    width: 300px;
  }
}
