@import "../scss/settings/colors";
@import "../scss/settings/fonts";

.recipe-list_container {
  width: 70vw;
  height: 70vh;
  background-color: $background;
  margin: 3%;
  padding: 30px;
  border: 1px dashed $header;

  .recipe-list_header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 51px;
  }
}

.recipe-list_feature {
  font-family: $fontOpenSans;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .recipe-list_names {
    width: 23%;
    display: flex;
    justify-content: space-between;
  }

  .recipe-list_action {
    padding-right: 40px;
  }
}

//--------------------
.recipe-list_all{
  height: 617px;
  width: 100%;
  overflow:auto;
  font-family: $fontOpenSans;
  line-height: 25px;
  color: $rowsTables;
}


.recipe-list_items {
  display: flex;
  .recipe-list_id {
    display: block;
    width: 6%;
    padding: 10px;
  }

  .recipe-list_name {
    display: block;
    padding: 10px;
    width: 10%;
  }

  .recipe-list_description {
    display: block;
    padding: 10px;
    width: 68%;
  }
  .recipe-list_action-items{
    .iconEdit{
      color: $newsError;
    }
    .iconTrash{
      color: $trashColor;
    }
  }
}
